* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    margin: 0 auto;
    max-height: 100px;
    width: 80%;
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2% 0;
}

.header-list {
    display: flex;
    gap: 40px;
}

.header-list li {
    font-size: 16px;
    list-style: none;
}

.header-list a {
    text-decoration: none;
    color: black;
}

/* first page */
.first-page {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 7% auto 0;
}

.who-i-am {
    display: flex;
    flex-direction: column;
    gap: 38px;
    width: 750px;
}

.main-text {
    color: black;
    font-size: 72px;
    font-weight: 700;
    line-height: 82.5px;
    letter-spacing: 2px;
}

.main-color-title {
    color: rgba(255, 138, 86, 1);
}

.info-about-designer {
    width: 550px;
    font-size: 22px;
    line-height: 33px;
    color: rgba(102, 102, 102, 1);
}

.designer {
    position: relative;
    bottom: 40px;
}

.first-page button {
    border: none;
    font-size: 18px;
    width: 150px;
    height: 60px;
}

.call-button, button {
    background-color: black;
    color: white;
}

.download-button {
    background-color: white;
    color: black;
}

/* second page */
.us-partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.helpers {
    font-size: 18px;
}

.partners-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.partners-list img {
    width: 141px;
}

/* second part of second page */
.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 10% 0;
}

.services {
    color: #FF5E69;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 4px;
}

.quote {
    font-size: 54px;
    line-height: 60px;
    font-weight: 700;
    width: 800px;
    text-align: center;
}

.capabilities {
    display: flex;
    justify-content: space-around;
}

.capabilities img {
    width: 70px;
    height: 70px;
}

.capabilities div {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.capabilities h3 {
    font-size: 24px;
    font-weight: 700;
}

.capabilities p {
    width: 250px;
    color: rgba(102, 102, 102, 1);
}

.capabilities div ul li{
    font-weight: 700;
    list-style: square;
    list-style-position: inside;
}

/* third page */
.third-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    margin-top: 229px;
}

.projects-info {
    width: 80%;
    margin: 0 auto 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project {
    margin: 0 auto;
    letter-spacing: 4px;
    font-size: 22px;
    font-weight: 500;
    color: #B16CEA;
}

.project1 {
    font-size: 54px;
    font-weight: 700;
}

.button_view-all {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    font-size: 15px;
    width: 170px;
    height: 50px;
}

.projects {
    gap: 34px;
    display: flex;
    justify-content: flex-end;
}

.brab {
    font-size: 14px;
    letter-spacing: 4px;
    color: #3C46FF;
    font-weight: 700;
}

.color-title {
    font-size: 24px;
    font-weight: 700;
}

.color-title-little {
    display: flex;
    align-items: center;
    gap: 15px;
}

.branding {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    width: 486px;
    height: 486px;
    z-index: 3;
}

.projects-card-info {
    padding: 4%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    height: 163px;
}

.news {
    color: white;
    background-color: black;
    position: relative;
    bottom: 180px;
    display: flex;
    justify-content: center;
    padding-top: 17%;
    z-index: 2;
}

.news-text {
    width: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.news-main-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: auto;
}

.news-text-right {
    position: relative;
    bottom: 145px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.news-text-main-left {
    font-size: 22px;
    letter-spacing: 4px;
    color: #FFA84B;
    font-weight: 500;
}

.news-text-main-left-lastest {
    font-size: 54px;
    font-weight: 500;
}

.news-vect {
    display: flex;
    align-items: center;
    gap: 15px;
}

.news-date {
    padding-top: 5%;
    font-size: 15px;
    color: white;
}

.news-text-oc {
    width: 600px;
    font-size: 28px;
    font-weight: 700;
}

.news-text-read {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    font-weight: 500;
}

.news-text-lenta {
    height: 254px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.productt {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.productt-text {
    height: 300px;
    flex-direction: row;
    width: 83%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.productt-main {
    color: #FF5E69;
    font-weight: 500;
    font-size: 22px
}


.productt-main-text {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.productt-nomain {
    display: flex;
    font-weight: 600;
    font-size: 54px;
    flex-direction: column;
}

.productt-p {
    width: 625px;
    font-size: 22px;
    color: #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagesss {
    height: 750px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

.productt-img-last {
    display: flex;
    gap: 17px;
    flex-direction: column;
}

.infosec {
    width: 1400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.infosec-left {
    display: flex;
    width: 580px;
    height: 550px;
    flex-direction: column;
    justify-content: space-between;
}


.infosec-zag {
    height: 100px;
    font-size: 36px;
}

.infosec-oc-text {
    font-size: 24px;
    font-weight: 700;
}

.infosec-nooc-text {
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
}

.infosec-text-centre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infosec-text-centre1 {
    display: flex;
    width: 500px;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
}

.infosec-text-centre2 {
    display: flex;
    height: 84px;
    justify-content: space-evenly;
    flex-direction: column;
}

.infosec-right {
    display: flex;
    width: 580px;
    height: 550px;
    flex-direction: column;
    justify-content: space-between;

}

.block-infosec {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 23%;
}

.block-infosec1 {
    display: flex;
    gap: 15%;
    height: 70%;
    justify-content: center;
    flex-direction: column;
}

.infosec-right-top {
    display: flex;
    width: 510px;
    justify-content: space-between;
    align-items: center;
}

.infosec-right-low {
    display: flex;
    width: 440px;
    font-size: 15px;
    justify-content: space-between;
    align-items: center;
}

.infosec-height {
    height: 200px;
}
/* seventh page */
.seventh-page {
    display: flex;
    justify-content: space-around;
}

.title-name {
    color: rgba(67, 83, 255, 1);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.second-title-name {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}

.black-man {
    width: 450px;
}

.quote-img {
    width: 45px;
    padding-top: 25%;
    margin-bottom: 5px;
}

.helper {
    font-size: 30px;
    font-weight: 700;
    width: 550px;
    line-height: 45px;
    margin-bottom: 100px;
}

.black-man-name {
    display: flex;
    justify-content: space-between;
}

/* eighth page */
.faq {
    height: 900px;
    background-color: black;
    color: white;
    margin-top: 100px;
}


.faq-zag {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.faq-p1 {
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 4px;
    color: #FF8A56;
}

.faq-p2 {
    font-weight: bold;
    font-size: 54px;
    letter-spacing: 1px;

}

.faq-block1 {
    display: flex;
    width: 620px;
    height: 250px;
    flex-direction: column;
    justify-content: space-between;
}

.faq-block2 {
    display: flex;
    width: 620px;
    height: 250px;
    flex-direction: column;
    justify-content: space-between;
}

.faq-block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.height12 {
    height: 100px;
}

.faq-text {
    display: flex;
    height: 90px;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    justify-content: space-between;
    width: 620px;
    color: white;
    font-size: 24px;
    letter-spacing: 0.3px;
}

.height13 {
    height: 150px;
}

.end {
    margin: 0 auto;
    height: 590px;
    background-color: black;
    color: white;
}

.end-text {
    margin: 0 auto;
    width: 1500px;
    height: 220px;
}

.height14 {
    height: 450px;
}

.end-text-glav {
    font-size: 54px;
    font-weight: bold;
    letter-spacing: 1px;
}

.end-text-noglav {
    font-size: 54px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #3C46FF;
}

.end-navig {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 1500px;
    height: 120px;
}

.end-navig-text {
    font-size: 16px;
    color: #666666;
}

.end-email {
    display: flex;
    gap: 7px;
    flex-direction: row;
}

.end-pochta {
    font-size: 17px;
    color: #666666;
}

.end-info {
    margin: 0 auto;
    width: 1500px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.end-end {
    margin: 0 auto;
    width: 1500px;
}

.end-about {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    text-align: start;
    flex-direction: row;
    gap: 150px;
}

.end-about-text {
    height: 165px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.end-end {
    height: 185px;
    margin: 0 auto;
    width: 1500px;
    display: flex;
    align-items: flex-end;
}

.end-end-text {
    color: #8A95AD;
    font-size: 16px;
    font-weight: 400;
}